@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
  margin: 0; /* Ensure no margin is added */
  padding: 0; /* Ensure no padding is added */
  background-image: url('/indexladybg.png'); /* Set the new background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: rgb(var(--foreground-rgb));
}



#root, #__next {
  height: 100%;
}

.top-banner {
  background-color: rgba(0, 0, 0, 0.05); /* Reduced opacity for top banner background */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1cm 2cm;
  position: fixed;
  width: 100%;
  top: 0; /* Ensure it’s at the top */
  z-index: 1000;
}


.logo-container {
  display: flex;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 1cm; /* Space between HOME, WHITELIST, and X Logo */
}

.lady-logo {
  height: 5rem; /* Adjust the size as needed */
}

.home-link,
.whitelist-link {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.764rem; /* Font size */
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.home-link:hover,
.whitelist-link:hover {
  color: #f2a900; /* Hover color */
}

.xlogo {
  height: 2.646rem; /* Increased size by 1.5x */
  vertical-align: middle; /* Align the logo vertically with the text */
}

.footer {
  padding: 5.88px; /* Adjust padding */
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Remove the text section styles */
.text-section {
  display: none; /* Hide the text section */
}
