@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
  margin: 0;
  background-image: url('/ladybg.jpg'); /* Set the new background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: rgb(var(--foreground-rgb));
}

#root, #__next {
  height: 100%;
}

.top-banner {
  background-color: transparent;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: 2cm;
  padding-top: 1cm;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.home-link,
.whitelist-link {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.764rem; /* Font size */
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.home-link {
  margin-right: 1cm; /* Space between HOME and WHITELIST */
}

.home-link:hover,
.whitelist-link:hover {
  color: #f2a900; /* Hover color */
}

.xlogo {
  height: 1.764rem; /* Same height as the text */
  margin-left: 0.5cm; /* Space between WHITELIST and xlogo */
  vertical-align: middle; /* Align the logo vertically with the text */
}

.text-section {
  min-height: 100vh; /* Ensure the black background covers the full screen */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 11.76px 5.88px; /* Adjust padding */
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8); /* Set background to black with reduced opacity */
  color: white;
  font-family: 'Permanent Marker', cursive;
}

.text-section h1 {
  font-size: 5.292rem; /* Further reduced font size */
  margin-bottom: 5.88px; /* Adjust margin */
}

.text-section p {
  font-size: 2.646rem; /* Further reduced font size */
  line-height: 1.5;
}

.footer {
  padding: 5.88px; /* Adjust padding */
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}
